.filters{
  position:absolute;
  right:0;
  bottom:4.5em;
  height:3em;
  background-clip:padding-box;
  overflow:hidden;
  color:$black;
  z-index:20;
}


.date{
  position: absolute;
  z-index: 15;
  bottom: 0; 
  width:100%;
  padding:1.5em;
  background:rgba(255,255,255,0.5);
}

#date-label{
	pointer-events:none;
	padding:0;
	border:none;
	margin:0;
	background:transparent;
	font-size:1.5em;
	line-height:1;
	font-weight:bold;
}

/* 	The track of the slider control. 
	This element will additionally have a class name of ui-slider-horizontal 
	or ui-slider-vertical depending on the orientation of the slider. 
*/
.ui-slider{
	background:$white;
	height:0.5em;
	margin:2em 0 1em;
	position:relative;
	width:100%;
}
    
/*The slider handles.*/
.ui-slider-handle{
	background:$red;
	width:0.5em;
	height:2em;
	position:absolute;
	top:-0.75em;
 
}

/* 	The selected range used when the range option is set. 
	This element can additionally have a class of ui-slider-range-min 
	or ui-slider-range-max if the range option is set to "min" or "max" respectively.
*/
.ui-slider-range{
	position:relative;
	background:$black;
	height:0.5em;	
}

