@mixin header-item{
	font-size:1rem;
	line-height:1;
	font-weight:normal;
	padding:1em;
	margin:0.5em;
	background-color:$red;
}

.site-header{
	background-color:$black;
	color:$black;
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
	height:20em;
	z-index:10;
	background-position:top center;
	background-attachment:fixed;
	background-size:cover;
	a{
		color:white;
		text-decoration:none;
	}
}

.page-template-map-template-php .site-header{
	height:8em;
}
