/*--------------------------------------------------------------
Map elements
--------------------------------------------------------------*/
html {
	height: 100%;
}

.page-template-map-template-php .site-header{

  .site-wrapper{
    position:absolute;
    width:100%;
    height:100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow:hidden;
  }


}

#map-canvas {
	position:absolute;
	top:8em;
	right: 0;
	bottom: 0;
	left: 0;
}



.toolbox{
  position:absolute;
  right:0;
  bottom:9em;
  height:3em;
  background-clip:padding-box;
  overflow:hidden;
  background-color:$black;
  color:$white;
  z-index:20;
  display: none;
}

.fb-logged-in .toolbox{
  display: block;
}

.handle,
.box,
.tool,
.actions,
.action{
  display:inline-block;
  float:right;
  overflow:hidden;
  white-space: nowrap;
}

.handle,
.tool,
.action{
  cursor:pointer;
  float:right;
  color:white;
  text-decoration:none;
}

a.tool{
  border-radius:0.25em;
  &:hover{
    background-color:white;
  }
}

.handle + .box{
  opacity:0;
  transition:all 1s;
  max-width:0;
}

.handle:focus + .box{
  opacity:1;
  margin:0;
  max-width:40em;
  transition:0.5s;
}

@mixin icon-bg{
  display:inline-block;
  width:2em;
  height:2em;
  background-position:center;
  background-clip:padding-box;
  background-size:contain;
  background-repeat:no-repeat;
  margin:0.5em;
  text-indent:100%;
  white-space: nowrap;
  overflow:hidden;
}


@keyframes imagebulger {
  // 50% {
  //   background-size: contain;
  // }
  50% {
    width: 2.5em;
    height: 2.5em;
    top: 0.75em;
    right: 0.75em;
    transition: 1s ease-in-out;
    // transform: scale; 
  }
}



.tool.categories{
  @include icon-bg;
  background-image:image-url('tags.svg');  
}
.tool.clear-categories{
  @include icon-bg;
  background-image:image-url('refresh.svg');    
}

.handle.add{
  @include icon-bg;
  background-image:image-url('plus.svg');
}
.tool.link{
  @include icon-bg;
  background-image:image-url('chain.svg');
}
.tool.video{
  @include icon-bg;
  background-image:image-url('film.svg');
}
.tool.pictures{
  @include icon-bg;
  background-image:image-url('picture.svg');
}
.tool.words{
  @include icon-bg;
  background-image:image-url('pencil.svg');
}
.tool.info{
  @include header-item;
  @include icon-bg;
  background-image:image-url('info.svg');
}

.action.cancel{
  @include icon-bg;
  background-image:image-url('times.svg');
}
.action.save{
  @include icon-bg;
  background-image:image-url('check.svg');
}

.gmnoprint img {
    max-width: none; 
}



