#menu-project-menu {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	li{
		display: inline-block;
		padding: 0.25em;
		overflow: hidden;
		padding: 0;
		&:before {
			content: "|";
			padding: 0 0.25em;
		}
	}
	li:first-child {
		&:before {
			content: ""
		}
	}
	a {
		color: $white;
		text-decoration: none;
		cursor: pointer;
	}
}