.site-footer{
	padding:1em;
}

.footer-logos{
	max-width:100%;
	display:flex;
	justify-content:center;
	background:#fff;
	padding:0.5em;
	img{
		max-width: 100%;
		background:#FFF;
		padding:0.5em;
		height:auto;
	}
}