.site-header{
	position:absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index:10;
	background-color:black;
	padding:1.25rem;
	a{
		color:white;
		text-decoration:none;
	}
}

#site-branding{
	float:left;
	h1{
		display:inline;
		font-size:1rem;
		font-weight:normal;
		margin:0;
	}
}

#site-navigation{
	float:right;
	.menu ul{
		@include inline-block-list;
		a{
			margin-left:1em;
		}
	}	
}