/*--------------------------------------------------------------
Map elements
--------------------------------------------------------------*/
html {
	height: 100%;
}
.site-wrapper{
	position:absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#map-canvas {
	position:absolute;
	top:2.5em;
	right: 0;
	bottom: 0;
	left: 0;
}

#media-modal{
	background:black;
	color:white;
	position:absolute;
	z-index:10;
	top:6em;
	right:2em;
	bottom:2em;
	left:2em;
	display:none;
}
.modal-close{
	position:absolute;
	top:1rem;
	right:1rem;
	font-size:200%;
	line-height:0.5;
	cursor:pointer;
}