/*--------------------------------------------------------------
Navigation
--------------------------------------------------------------*/


.avatar-wrapper{
	z-index: 1000;
	position: absolute;
	right: 3em;
}
